@page "/"

<PageTitle>Home</PageTitle>

<h1>Spreadsheet - CS 3500</h1>

<div>
This is the spreadsheet implementation for PS7 that incorporates
all of the previous problem sets into a GUI spreadsheet application.
</div>

<div>
Additional Features: A clear cells button and a party mode that updates cell colors with every action.
</div>
